// main: ../style.less

.header{
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 0 40px 0 30px;
}
.header__logo {
    width: 236px;
    & img {
        width: 100%;
    }
}
.menu {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
}
.menu__link {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    transition: .2s ease;
    &:not(:last-child) {
        margin-right: 100px;
    }
    &:hover{
        color: @accentColor;
    }
}
.header__btn {
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
}
.btn--primary {
    background-color: @accentColor;
    color: #fff;
    transition: .2s ease;
    &:hover{
        background-color: darken(@accentColor, 5%);
    }
}
.btn--sm {
    width: 249px;
    padding: 22px 47px;
    font-size: 16px;
}