// main: ../style.less

.hero {
    height: 100vh;
    background-color: @bgdark;
    overflow: hidden;
}
.hero__container {
    position: relative;
    padding-right: 0;
    max-width: 1890px;
    height: 100vh;
}
.main {
    display: flex;
    height: 100vh;
}
.hero__content {
    flex: 0 0 39%;
    margin-top: 31vh;
}
.contain {
    width: 92%;
}
.hero__title {
    font-size: 64px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 8vh;
    & span {
        color: @accentColor;
    }
}
.hero__text {
    font-size: 40px;
    line-height: 1.1;
    color: #fff;
    margin-bottom: 10vh;
}
.hero__btn {
    display: flex;
    justify-content: center;
}
.btn--no-bg {
    border: 3px solid @accentColor;
    color: #fff;
    transition: .2s ease;
    &:hover{
        background-color: @accentColor;
    }
}